$main-background-color: #FCF8F3;

$background-color-form: #6c7c91;
$color-form-active: #5aa8d2;

$default-color: #FFFFFF;
$color-text-form: #faf5f0;
$color-warning: #F98284;

$primary-font: 'Oswald', sans-serif;
$secondary-font: 'Song Myung', serif;
